/*
  dark pink - #ffb6b9
  light pink - #fae3d9
  light blue - #bbded6
  dark blue - #8ac6d1
*/
body{
	color: white;
	text-align:center;
	padding-top:50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-family: "Garamond",Georgia,serif;
	background-color: #8ac6d1
}
 
.text-container {
	border: 5px solid white;
	border-radius: 25px;
	width:50%;
	margin-left:25%;
	margin-bottom:15px;
	padding:5px;
}

.text {
	margin: 0;
	padding: 0;
}

.form-field-wrapper {
	margin: 10px;
}

.form-label {
	display: flex;
	font-size: 25px;
	margin:0;
}

.form-field {
	display: flex;
	border: 2px solid white;
	border-radius: 5px;
	background-color: #bbded6;
	font-size: 22px;
	color: darkslategray; 
    font-family: "Garamond",Georgia,serif;
	padding: 5px;
	width:100%;
	box-sizing:border-box;
}

.form-list {
	display: flex;
	border: 2px solid white;
	border-radius: 5px;
	background-color: #bbded6;
	font-size: 22px;
	color: darkslategray; 
    font-family: "Garamond",Georgia,serif;
	padding: 5px;
}

.form-button {
	border: 2px solid white;
	border-radius: 5px;
	background-color: #bbded6; 
	margin: 5px;
	padding: 15px 32px;
	color: darkslategrey; 
	text-align: center;
	font-size: 25px;
    font-family: "Garamond",Georgia,serif;
}

#title {
	margin-top:20px;
	font-size: 55px;
}

#description {
	margin-bottom:20px;
	font-size: 25px;
}