:root {
	--color-darkpink:#ffb6b9;
	--color-lightpink: #fae3d9;
	--color-darkblue: #8ac6d1;
	--color-lightblue: #bbded6;
}

body{
	color: white;
	font-family: "Garamond",Georgia,serif;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: var(--color-darkblue);
}
 
.text-container {
	border: 5px solid white;
	border-radius: 25px;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 15px;
	padding: 5px;
}

.text {
	margin: 0;
	padding: 0;
}
